Frontend:
  impl: SST
  clock_ratio: 8
  num_expected_insts: 500000

  Translation:
    impl: NoTranslation
    max_addr: 2147483647  # 2 GiB

MemorySystem:
  impl: GenericDRAM
  clock_ratio: 3

  DRAM:
    impl: DDR5
    org:
      preset: DDR5_8Gb_x8
      channel: 1
      rank: 1
    timing:
      preset: DDR5_3200C
    # DDR5 device model requires RFM ParamGroup (even if using default BRC=2)
    RFM:
      BRC: 2

  Controller:
    impl: Generic
    Scheduler:
      impl: FRFCFS
    RefreshManager:
      impl: AllBank
    RowPolicy:
      impl: OpenRowPolicy
    plugins:

  AddrMapper:
    impl: RoBaRaCoCh

